html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font: 16px "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.panel{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.screen-reader-text{
  position: absolute;
  left: -9999px;
  word-wrap: normal!important;
}

h2{
  font-size: 5em;
}

.round-button{
  background: #262626;
  color: white;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 5rem;
  line-height: 5rem;
  width: 5rem;
  font-size: 5em;
  text-align: center;
  opacity: 0;
  transition: opacity .8s;
  border: none;

  &.show{
    opacity: 1;
  }

  &:hover{
    background: $blue;
  }
}

.typed-heading{
  .character{
    padding: 16px 0;
    border-right: 1px solid transparent;

    &.hidden{
      display: none;
    }

  }

  &.dark-text .character.active{
    border-right: 1px solid #000;
  }

  &.light-text .character.active{
    border-right: 1px solid #fff;
  }
}