#embed{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;

  .content{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding: 0 100px;
  }

  .compactor{
    align-self: stretch;
    background: $blue;

    &.active{
      animation: 3s slide linear; 
    }
  }

  @keyframes slide{
    0%{
      width: 0%;
    }

    100%{
      width: 50%;
    }
  }

  .video{
    
    flex: 5;
    min-width: 500px;
    max-width: 75%;

    .video-wrapper{
      padding-bottom: 56.25%;
      height: 0;
      position: relative;
      
      iframe{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .text{
    text-align: center;
    padding: 2em;
    flex: 4;
    

    h2{
      margin-top: 0;
      font-size: 4em;
    }

    p{
      text-align: left;
      font-size: 1.4em;
    }

    #compact{
      font-size: 4em;
      margin-right: 1rem;
    }
  }

  .link{
    flex: 0 0 100%;
    text-align: center;
    padding-top: 3em;
  }
}